{% extends "base.html" %}

{% block main %}
  <main>
    {%- if term %}
      <h3 class="filter">Filtering for "{{ term.name }}"</h3>
      <small>
        <a href="{{ get_url(path="@/blog/_index.md", lang=lang) }}">Remove filter</a>
      </small>
    {%- endif %}
    <ul class="blog-posts">
      {% for page in term.pages %}
        <li>
          <span>
            <i>
              <time datetime='{{ page.date | date(format='%+') }}' pubdate>
                {{ page.date | date(format=config.extra.date_format) }}
              </time>
            </i>
          </span>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
      {% else %}
        <li>
          {{ trans(key="no_posts", lang=lang) }}
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
